{% extends "base.html" %}

{% block content %}

    {% if validlink %}
        <h2>新しいパスワードを入力してください</h2>
        <form method="post">
        {% csrf_token %}

            <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">新パスワード</label>
                <label for="new_password1"></label><input type="password" id="new_password1" name="new_password1" class="form-control form-control-lg" required placeholder="パスワード"/>
    </div>

        <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">新パスワード再入力</label>
            <label for="new_password2"></label><input type="password" id="new_password2" name="new_password2" class="form-control form-control-lg" required placeholder="パスワード確認"/>
    </div>
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">設定</button>

        </form>
    {% else %}
            <h2>リンクは無効です</h2>
        <p>パスワードリセットリンクは無効でした。すでに使用されている可能性があります。新しいパスワードリセットをリクエストしてください。</p>
    {% endif %}
{% endblock %}