{% extends "base.html" %}

{% block content %}

<a href="{% url 'login' %}">
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="position: relative; left: -160px; top: -30px;">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
</a>

    <p style = "font-size: 35px;"> メールアドレスをご入力ください </p>

    <form method="POST" action="{% url 'password_reset' %}">
    <div data-mdb-input-init class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" name= "email" maxlength="100" class="form-control form-control-lg" required placeholder="メールアドレス"/>
    </div>

{% csrf_token %}
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">送信 </button>
    </form>

{% endblock content %}