{% extends "base.html" %}

{% block content %}
    <p style = "font-size: 35px;"> メールアドレスをご入力ください </p>
    <div data-mdb-input-init class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" name= "email" maxlength="100" class="form-control form-control-lg" required placeholder="メールアドレス"/>

    </div>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">送信 </button>

       </form>
        <style>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
</style>


<script>
document.getElementById("typeEmailCheckX").addEventListener("input", function() {
    let value = this.value.replace(/\D/g, "");  // ✅ Removes non-numeric characters
    this.value = value.slice(0, 6);  // ✅ Limits input to exactly 6 digits
});
</script>
{% load static %}
    <script src="script.js"></script>
{% endblock content %}