{% extends "base.html" %}

{% block content %}
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <p style = "font-size: 35px;"> メールアドレスをご入力ください </p>

    <form method="POST" action="{% url 'password_reset' %}">
    <div data-mdb-input-init class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" name= "email" maxlength="100" class="form-control form-control-lg" required placeholder="メールアドレス"/>
    </div>

{% csrf_token %}
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">送信 </button>
    </form>

{% endblock content %}