{% extends "base.html" %}

{% block content %}
    <h2>Enter new password</h2>
    
    {% if validlink %}
        <form method="post">
        {% csrf_token %}
            <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">パスワード</label>
                <label for="new_password1"></label><input type="password" id="new_password1" name="new_password1" class="form-control form-control-lg" required />
    </div>

        <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">パスワード</label>
            <label for="new_password2"></label><input type="password" id="new_password2" name="new_password2" class="form-control form-control-lg" required />
    </div>
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">登録</button>

        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}