
{% extends "base.html" %}
{% block content %}

<a href="{% url 'login' %}">
<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="position: relative; left: -160px;">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg>
</a>

    <h2 class="fw-bold mb-2 text-uppercase">登録</h2>
    <p class="text-white-50 mb-10">メールアドレスとパスワードを入力してください</p>

 <form   method="POST" action="{% url 'mail_check' %}">
       {% csrf_token %}

    <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typeEmailX">お名前</label>
        <input type="text" id="typeNameX" name="name" minlength="2" class="form-control form-control-lg" required placeholder="田中　太郎"/>

    </div>

    <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typeEmailX">メールアドレス</label>
        <input type="email" id="typeEmailX" name= "email" class="form-control form-control-lg" required placeholder="example@mail.com"/>

    </div>


    <div data-mdb-input-init class="form-outline form-white mb-4">
        <label class="form-label" for="typePasswordX">パスワード</label>
        <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" required placeholder="強いパスワード（数字含めて）"/>
    </div>

    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">登録</button>
</form>

{% endblock content %}